<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" 
"log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.SimpleLayout" />	
	</appender>
	
	<!-- Setting different levels of priorities for diff packages -->
	
	<logger name="com.struts.log.pack1">
		<level  value="ERROR"/>
	</logger>
	
	<logger name="com.struts.log.pack2">
		<level  value="DEBUG"/>
	</logger>
	
	<!-- root logger -->
	<root>
		<priority value="WARN"/>
		<appender-ref ref="STDOUT"/>	
	</root>

</log4j:configuration>